.contact-modal {
  position: relative;
  padding: 50px;
  font-stretch: initial;

  @media (max-width: 768px) {
    width: 100%;
    padding: 20px;
  }
  @media (max-width: 375px) {
    height: 100%;
    padding: 10px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__title {
    margin-bottom: 50px;
  }
}