@font-face {
  font-family: 'Roboto Flex';
  src: url('../fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].woff') format('woff');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
     // url('../fonts/RobotoFlex.ttf') format('truetype');
}