
@charset "UTF-8";

//fonts
@font-face {
    font-family: 'Roboto Flex';
    src: url('../fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].woff') format('woff');
    font-weight: 100 1000;
    font-stretch: 100% 150%;
}

//setting и ui
$color-orange: #E85323;
$color-dark: #151A25;
$color-lightgrey: #F0F2F5;
$color-middlegrey: #35425A;
$color-white: #ffffff;
$color-greylines: #CFD4DC;

*,*:after,*:before{
    box-sizing: border-box;
}
*:hover, *:focus, *:active{
    outline: none;
    box-shadow: none;
    outline-offset: 0;
}
a:hover, a:focus, a:active{
    outline: none;
    box-shadow: none;
    outline-offset: 0;
}
*:focus{
    outline: none;
    box-shadow: none;
    outline-offset: 0;
}
html{
    height: 100%;
}
body{  
    font-family: 'Roboto Flex', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    padding: 0;
    margin: 0;
    display: flex;
	flex-direction: column;
	min-height: 100%;
    background-color: $color-lightgrey;
    font-stretch: 137%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
    &.overflowhidden{
        overflow: hidden;
    }
}
main {
	flex: 1 0 auto;
}
footer{
    flex: 0 0 auto;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    transition: 0.3s;
    &:hover{
        text-decoration: none; 
    }
}


//new-style-setting
.new-container {
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 30px;
    color: $color-dark;
}
.title-h1{
    font-style: normal;
    font-weight: 650;
    font-size: 36px;
    line-height: 130%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.title-h2{
    font-style: normal;
    font-weight: 650;
    font-size: 30px;
    line-height: 130%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.title-h3{
    font-style: normal;
    font-weight: 650;
    font-size: 26px;
    line-height: 130%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.title-h4-b{
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;
    font-stretch: 115%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.title-h4-m{
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 140%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-t1-b{
    font-style: normal;
    font-weight: 750;
    font-size: 17px;
    line-height: 130%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-t1-sb{
    font-style: normal;
    font-weight: 650;
    font-size: 17px;
    line-height: 140%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-t1-m{
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-t1-r{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    font-stretch: 137%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-t1-q{
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-t2-b{
    font-style: normal;
    font-weight: 650;
    font-size: 15px;
    line-height: 130%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-t2-m{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-t2-r{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    font-stretch: 115%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-t3{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
.text-tag{
    font-style: normal;
    font-weight: 750;
    font-size: 12px;
    line-height: 130%;
    font-stretch: 130%;
    font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}
@media (max-width: 1260px){
    .new-container {
        max-width: 100%;
    }
}
@media (max-width: 991px){
    .new-container {
        padding: 0 20px;
    }
}
@media (max-width: 480px){
    .new-container {
        padding: 0 15px;
    }
    .title-h1{
        font-size: 30px;
    }
    .title-h2{
        font-size: 24px;
    }
    .title-h3{
        font-size: 24px;
    }
    .title-h4-b{
        font-size: 19px;
    }
    .title-h4-m{
        font-size: 19px;
    }
    .text-t1-b{
        font-size: 16px;
    }
    .text-t1-sb{
        font-size: 16px;
    }
    .text-t1-m{
        font-size: 16px;
    }
    .text-t1-r{
        font-size: 16px;
    }
    .text-t1-q{
        font-size: 16px;
    }
    .text-t2-b{
        font-size: 14px;
    }
    .text-t2-m{
        font-size: 14px;
    }
    .text-t2-r{
        font-size: 14px;
    }
    .text-t3{
        font-size: 12px;
    }
    .text-tag{
        font-size: 12px;
    }
}

